
@import './mixins_css3';

$curve: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$duration: 0.3s;
$headingHeight: 50px;

@mixin heading() {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $headingHeight;
    overflow: hidden;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
    background: #f0f9ff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include transition(transform $duration $curve);

    &--left {
        @include translate(-100%, 0);
    }

    &--right {
        @include translate(100%, 0);
    }

    &--active {
        @include translate(0, 0);   
    }

    &__header {
        @include heading();
        top: 0;

        & h1, & h2, & h3 {
            margin: 0;
            height: $headingHeight;
            line-height: $headingHeight;
        }
    }

    &__footer {
        @include heading();
        bottom: 0;
    }

    &__content {
        display: block;
        height: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }

    &--headered &__content {
        margin-top: $headingHeight;
        height: calc(100% - 50px);
    }

    &--footered &__content {
        margin-bottom: $headingHeight;
        height: calc(100% - 50px);
    }


    &--headered.fullscreen--footered &__content {
        height: -webkit-calc(100% - 100px);
    }
}