
@import './mixins_css3';

$curve: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$duration: 0.3s;
$headingHeight: 50px;

@mixin heading() {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: $headingHeight;
    overflow: hidden;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00233e+0,053961+50,063c65+100 */
    background: #00233e; /* Old browsers */
    background: -moz-linear-gradient(top,  #00233e 0%, #053961 50%, #063c65 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00233e), color-stop(50%,#053961), color-stop(100%,#063c65)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00233e 0%,#053961 50%,#063c65 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00233e 0%,#053961 50%,#063c65 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00233e 0%,#053961 50%,#063c65 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00233e 0%,#053961 50%,#063c65 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00233e', endColorstr='#063c65',GradientType=0 ); /* IE6-9 */


    @include transition(transform $duration $curve);

    &--left {
        @include translate(-100%, 0);
    }

    &--right {
        @include translate(100%, 0);
    }

    &--bottom {
        @include translate(0, 100%);
    }

    &--active {
        @include translate(0, 0);   
    }

    &__header {
        @include heading();
        top: 0;
        color: #fff;

        & h1, & h2, & h3 {
            margin: 0;
            height: $headingHeight;
            line-height: $headingHeight;
        }

        & .btn {
            margin-top: 10px;
        }
    }

    &__footer {
        @include heading();
        bottom: 0;
    }

    &__content {
        position: relative;
        display: block;
        height: 100%;
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        color: #fff;
    }

    & > .container {
        color: #fff;
    }

    &--headered &__content {
        margin-top: $headingHeight;
        height: calc(100% - 50px);
    }

    &--footered &__content {
        margin-bottom: $headingHeight;
        height: calc(100% - 50px);
    }


    &--headered.fullscreen--footered &__content {
        height: -webkit-calc(100% - 100px);
    }
}