@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@import './styles/card';
@import './styles/fullscreen';

body, html {
    background: #000;
}

.trialbee-title {
    font-family: 'Roboto Slab', serif;
}

#home-page {
    background-image: url(./assets/tb-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.panel-body p:last-child {
    margin-bottom: 0;
}